ops-tracing @ https://github.com/dimaqq/operator/archive/refs/tags/2.20.0-rc15.zip#subdirectory=tracing&egg=ops-tracing
ops[tracing,testing] @ https://github.com/dimaqq/operator/archive/refs/tags/2.20.0-rc15.zip
